@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: #ccc !important;
}

.content-wrapper {
  @apply w-full max-w-[1280px] px-4 mx-auto !important;
}

.no-spinners input[type="number"]::-webkit-inner-spin-button,
.no-spinners input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners input[type="number"] {
  -moz-appearance: textfield;
}

.leaflet-control-attribution.leaflet-control {
  @apply hidden;
}